@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("../src/assets/fonts/HelveticaNeueMedium.otf");
  font-weight: 400;
  /* font-style: normal; */
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../src/assets/fonts/HelveticaNeueLight.otf");
  font-weight: 300;
  /* font-style: normal; */
}
.container {
  @apply max-w-[1350px] mx-auto;
}
.heading {
  @apply font-secondaryText lg:text-[60px] text-[35px];
}
.text {
  @apply text-[16px] lg:text-[22px]  leading-[22px] lg:leading-[30px] font-light font-secondaryText;
}
.imge {
  @apply w-full h-full bg-cover;
}
